.headerWrapper {
    color: black;
    display: flex;
    align-items: center;
    padding: 4.5rem 1.5rem 1.5rem 1.5rem;
    justify-content: space-between;
    flex-direction: column;
}

.headerButton {
    background-color: black;
    border-radius: 8px;
    height: 50px;
    padding: 1.5rem 1.8rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.headerButton a {
    font-weight: 300;
}

@media screen and (min-width: 576px) {
    .headerWrapper {
        padding: 1.5rem 3.5rem;
        flex-direction: row;
    }

    .headerButton {
        margin-top: 0;
    }

    
}
