.assetWrapper {
    border: 1px solid#B7BECC;
    height: 10.6rem;
    width: 100%;
    border-radius: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1.25rem 0.9rem 1.25rem 0.9rem;
    color: black;
}

@media screen and (min-width: 576px) {
    .assetWrapper {
        height: 10.6rem;
        width: 16.8rem;
    }
  }

.assetName {
    color: black;
    font-weight: 500;
    font-size: 1.25rem;
    margin: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.availableWrapper {
    background-color: #6FD791;
    height: 1.8rem;
    padding: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    font-weight: 400;
    color: black;
}

.unAvailableWrapper {
    background-color: #BC3131;
    height: 1.8rem;
    padding: 0 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    font-size: 0.6rem;
    font-weight: 400;
    color: black;
}